@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f8fafc;
  color: #0f172a;
  font-family: Inter, sans-serif;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  outline: none;
}
